// LibertyBelle

p.conversationlisten {
  color: blue;
  margin-left: 30%;
  margin-right: 0%;

}

p.conversationtalk {
  color: red;
  margin-left: 0%;
  margin-right: 30%;
}

p.thoughtbubble {
  font-weight: bold;
  text-align:center;
  margin-left: 5%;
  margin-right: 5%;
}

p.signtranscript {
  color: blue;
  font-style: italic;
  text-align:center;
  margin-left: 5%;
  margin-right: 5%;
}

p.quote {
  font-style: italic;
  color: blue;
}

figcaption
{

  font-weight: bold;
  text-align:center;
}


